label {
  font-weight: 500;
}
.add-to-cart {
  border-color: #3bb54a;
  background-color: #3bb54a;
}

.radio-input-container {
  display: flex;
  flex-flow:wrap;
}

.radio-button-holder {
  padding: 2px;
  border: 0.989px solid rgb(214,211,211);
  margin-right:3px;
}
.radio-buttons {
  height: 25px;
  width: 25px;
  display: flex;
  margin:2px;
}

.zoom {
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
  -ms-transform: scale(2.5);
  transform: scale(2.5);
  position: relative;
  z-index: 100;
}

.web-buttons{
  width: 3.125rem;
  height:3.125rem;
  margin:2px;
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.web-buttons img {
  height: 100%;
  padding: 2px;
}

.qo-tooltip-class .tooltip-inner {
  background-color: purple;
}

.qo-tooltip-class .arrow::before {
  border-top-color: purple;
}

.form-group > i {
  margin: 0.25rem;
}

.form-group {
  margin-bottom: 10px;
}
